.page-header {
	background-image: url('../img/header-dark.jpg');
	background-size:cover;
	background-position: 50%;
}

#techLogos{
	text-align:center;
}

#techLogos .narrow {
	width:10%;
}

#techLogos .wide {
	width:15%;
}

.logo {
	vertical-align:middle;
	height:auto;
	margin:20px;
}

#theTeam {
	text-align: center;
}

#theTeam .member {
	display: inline-block;
	vertical-align: top;
	/*margin:auto;*/
	width:20%;
	/*margin-bottom:20px;*/
	margin: 0 15px 20px 15px;
}

.center {
	text-align: center;
}

@media screen and (max-width: 64em) {
	#theTeam .member {
		width:30%;
	}

	#techLogos .narrow {
		width:12%;
	}

	#techLogos .wide {
		width:18%;
	}
}

@media screen and (max-width: 42em) {
	#theTeam .member {
		width:40%;
	}

	#techLogos .narrow {
		width:25%;
	}

	#techLogos .wide {
		width:30%;
	}
}
